/** @format */
/*===============
tabel of contents
=================*/
/* 
1-leftSection
2-rightSection
3-cards
4-card
5-cardfooter
6-responsive
*/


.mainSection section {
  display: flex;

}
/*============================================================= 1-leftSection ================================================================*/

.mainSection .leftSection {
  width: 20%;
}
.mainSection .leftSection .btn {
  width: 90%;
  border: var(--btnBorder) solid 1px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  /* font-size: 1.3rem; */
  padding: 15px 0px;
  background-color: var(--btnBackgroundColor);
  opacity: 0.5;
  transition: all 0.3s;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  /* letter-spacing: 0.1rem; */
}
.mainSection .leftSection .btn:hover {
  background-color: var(--btnBackgroundColorHover);
  border: var(--btnBorderHover) solid 1px;
  opacity: 1;
}
.mainSection .leftSection .active {
  background-color: var(--btnBackgroundColorHover);
  border: var(--btnBorderHover) solid 1px;
  opacity: 1;
}
/*============================================================== 2-rightSection ==========================================================*/
.mainSection .rightSection {
  margin: auto;
  width: 90%;
}
/*============================================================== 3-cards ==================================================================*/
.mainSection .rightSection .cards {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


/*============================================================ 6-responsive =============================================================*/

@media screen and (max-width: 700px) {
  .mainSection section {
    display: block;
  }
  .mainSection .leftSection {
    display: flex;
    width: auto;
    gap: 5px;
  }
  .mainSection .leftSection .btn {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    padding: 15px 0px;
  }
  .mainSection .rightSection {
    width: 100%;
  }
  .mainSection .rightSection .card {
    width: 120px;
    height: 190px;
  }
  .mainSection .rightSection .card h3 {
    font-size: 15px;
  }
  .mainSection .rightSection .card img {
    margin-bottom: 0.4rem;
  }
  .mainSection .rightSection .card p {
    font-size: 11px;
  }
  .mainSection .rightSection .card .cardFooter {
    justify-content: center;
    padding: 2px 10px;
  }
  .mainSection .rightSection .card .cardFooter button {
    display: none;
  }
  .mainSection .rightSection .card .cardFooter a {
    font-size: smaller;
  }
}
@media screen and (max-width: 400px) {
  .mainSection .leftSection .btn {
    font-size: 0.8rem;
    letter-spacing: 0.01rem;
    padding: 5px 0px;
  }
}
