/** @format */
/*===============
tabel of contents
=================*/
/* 
1-left section
2-right section
3-
4-responsive
*/

.heroSection section {
  display: flex;
}

/*============================================================= 1-leftSection ================================================================*/

.heroSection .leftSection {
  align-items: center;
}

/* .heroSection .leftSection h1 {
  font-size: 30px;
  margin-bottom: 30px;
} */
.heroSection .leftSection h1.glow {
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
  /* text-align: center; */
  animation: glow 1s ease-in-out infinite alternate;
}
.heroSection .icon {
  margin: 20px 20px 20px 0;
  scale: 160%;
}
.heroImg {
  padding: 2px;
  width: 150px;
  border: rgb(0, 94, 255) solid 2px;
  border-radius: 50%;
}
/*============================================================= 2-right section ================================================================*/

/*============================================================= 4-responsive  ================================================================*/

@media screen and (max-width: 700px) {
  .heroSection section {
    display: block;
  }
  .heroSection .leftSection {
    width: 100%;
  }
  .heroSection .leftSection h1.glow {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .heroImg {
    width: 35%;
  }

  .heroSection .icons {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073,
      0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #ff4da6, 0 0 25px #ff4da6,
      0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6, 0 0 45px #ff4da6;
  }
}
